.login-form {
  min-width: 450px;
  max-width: 500px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 600px) {
  .login-form {
    min-width: unset;
    max-width: 98vw;
    width: 98vw;
    padding: 0 12px;
  }
  .center-box {
    padding: 0 8px;
  }
  .login-form-button {
    width: 100%;
    font-size: 1rem;
  }
  .login-form-margin {
    margin-bottom: 12px;
  }
}
