<nz-splitter>
  <!-- Sidebar Menu -->
  <nz-splitter-panel nzDefaultSize="20%" nzMin="15%" nzMax="30%">
    <ul class="menu">
      <li (click)="loadContent('dashboard')">Dashboard</li>
      <li (click)="loadContent('profile')">Profile</li>
      <li (click)="loadContent('users')">All Users</li>
      <li (click)="loadContent('create-portfolio')">Create-Portfolio</li>
    </ul>
  </nz-splitter-panel>

  <!-- Content Area -->
  <nz-splitter-panel>
    <div class="content">
      <ng-container [ngSwitch]="selected">
        <div *ngSwitchCase="'dashboard'"><app-dashboard></app-dashboard></div>
        <div *ngSwitchCase="'profile'"><app-profile></app-profile></div>
        <div *ngSwitchCase="'users'"><app-all-users></app-all-users></div>
        <div *ngSwitchCase="'create-portfolio'">
          <app-create-portfolio></app-create-portfolio>
        </div>
        <!-- <div *ngSwitchDefault>👉 Please select an option from the menu</div> -->
      </ng-container>
    </div>
  </nz-splitter-panel>
</nz-splitter>
