<nz-layout>
  <nz-header class="app-header">
    <div class="logo">
      <!-- <a routerLink="/portfolio">Portfolio</a> -->
      <span>Portfolio</span>
    </div>

    <div class="menu-mobile">
      @if (user$ | async; as user) {
      <button
        style="font-size: 25px"
        nz-button
        nzType="text"
        (click)="logout()"
      >
        Logout
      </button>
      } @else {
      <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
        ☰
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item routerLink="/login">Login</li>
          <li nz-menu-item routerLink="/register">Register</li>
        </ul>
      </nz-dropdown-menu>
      }
    </div>
  </nz-header>
</nz-layout>
