<nz-layout>
  <nz-header class="app-header">
    <div class="logo">
      <!-- want to add logo here  -->
      <a routerLink="/portfolio">Portfolio</a>
    </div>

    <ul nz-menu nzMode="horizontal" class="menu-right">
      <li nz-menu-item routerLink="/login" [nzMatchRouter]="isLoginSelected">
        <a>Login</a>
      </li>
      <li
        nz-menu-item
        routerLink="/register"
        [nzMatchRouter]="isRegisterSelected"
      >
        <a>Register</a>
      </li>
    </ul>
  </nz-header>
</nz-layout>
