<h3>👥 All Users : {{ users.length }}</h3>
<nz-table
  #userTable
  [nzBordered]="true"
  [nzPageSize]="5"
  [nzPageSizeOptions]="[5, 10, 15, 20]"
  [nzShowSizeChanger]="true"
  [nzShowPagination]="true"
  [nzData]="users"
  class="user-grid"
>
  <thead>
    <tr>
      <th>Master ID</th>
      <th>Name</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of userTable.data">
      <td>{{ user.mstrid }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.role }}</td>
      <td>
        <span
          class="status-dot"
          [ngClass]="user.online ? 'online' : 'offline'"
        ></span>
        {{ user.online ? "Online" : "Offline" }}
      </td>
      <td>
        <!-- Chat Button -->
        <button nz-button nzType="primary" (click)="startChat(user)">
          Chat
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- Chat Modal -->
<app-chat-modal
  [(isVisible)]="isChatModalVisible"
  [selectedUser]="selectedUser"
  [messages]="messages"
  (send)="sendMessage($event)"
  (cancel)="closeChatModal()"
  [width]="'600px'"
></app-chat-modal>
