<div *ngIf="showSelector" class="template-selector">  <!-- Add *ngIf here -->
  <label for="template-dropdown">Select Template: </label>
  <nz-select
    id="template-dropdown"
    [(ngModel)]="selectedTemplate"
    (ngModelChange)="onTemplateChange()"
    nzPlaceHolder="Select a template">
    <nz-option nzValue="template-1" nzLabel="Template 1"></nz-option>
    <nz-option nzValue="template-2" nzLabel="Template 2"></nz-option>
    <nz-option nzValue="template-3" nzLabel="Template 3"></nz-option>
    <!-- <nz-option nzValue="template-4" nzLabel="Template 4"></nz-option> -->
  </nz-select>
</div>

<app-template-1 *ngIf="selectedTemplate === 'template-1'"></app-template-1>
<app-template-2 *ngIf="selectedTemplate === 'template-2'"></app-template-2>
<app-template-3 *ngIf="selectedTemplate === 'template-3'"></app-template-3>
<!-- <app-template-4 *ngIf="selectedTemplate === 'template-4'"></app-template-4> -->
